/* body{
    border: 5px solid purple;
    border-radius: 4px;
}*/
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');
p img{
    height: 300px;
    float: left;
    margin-right: 150px;
}
h1{
    border-top: 5px solid purple;
    padding-top: 20px;
    margin-left: 330px;
    margin-right: 20px;
    font-size: 50px;
    margin-bottom: 2px;
}
.main {
    border: solid 5px;
    width: auto;
    height: auto;
}
.work {
    font-family: 'Forum';
    font-size: 45px;
}